<div class="content-wrap">
    <h1>Список машин, записанных на ТО</h1>
  <table mat-table [dataSource]="cars$" class=" table mat-elevation-z8">
    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>Владелец </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="userPhone">
      <th mat-header-cell *matHeaderCellDef>Номер телефона</th>
      <td mat-cell *matCellDef="let element"> {{element.userPhone}} </td>
    </ng-container>

    <ng-container matColumnDef="carModel">
        <th mat-header-cell *matHeaderCellDef> Модель машины </th>
        <td mat-cell *matCellDef="let element"> {{element.carModel}} </td>
    </ng-container>

    <ng-container matColumnDef="carNumber">
      <th mat-header-cell *matHeaderCellDef>Номер машины</th>
      <td mat-cell *matCellDef="let element"> {{element.carNumber}} </td>
  </ng-container>

    <ng-container matColumnDef="problem">
        <th mat-header-cell *matHeaderCellDef>Причина обращения</th>
        <td mat-cell *matCellDef="let element"> {{element.problem}} </td>
    </ng-container>
    <ng-container matColumnDef="isCompleted">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-button color="primary" (click)="openDialog(element)">Редактировать</button>  
          <button mat-button color="accent" (click)="carCompleted(element.id)">Завершить</button>    
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</div>


